.footer {
  background-color: $color-ebony-clay;
  color: white;

  .footer-top {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mq('desktop') {
      flex-direction: row;
      align-items: center;
      border-bottom: 0.1px solid #474863;
    }

    .logo-text {
      font-size: 1.5em;
      font-weight: $fw700;
      margin-bottom: 40px;

      @include mq('desktop') {
        margin-bottom: 0;
      }
    }

    .footer-social-icons {
      display: flex;
      align-items: center;
      margin-left: -7px;

      @include mq('desktop') {
        margin-left: 0;
        margin-right: -7px;
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 70px;

    @include mq('desktop') {
      flex-direction: row;
    }

    .column {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      @include mq('desktop') {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }

      .title {
        font-size: 1em;
        font-weight: $fw700;
        margin-bottom: 20px;
      }

      a {
        font-size: 0.875em;
        font-weight: $fw400;
        color: white;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      .footer-subscribe {
        position: relative;
        margin-bottom: 5px;
        input {
          width: 305px;
          height: 60px;
          position: relative;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 15px;
          padding-right: 140px;
        }
        .button-subscribe {
          font-size: 0.875em;
          font-weight: $fw400;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          position: absolute;
          padding: 15px 20px;
          left: 200px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .copyright {
    background-color: $color-bluemine;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

    .copyright-text {
      font-size: 0.875em;
    }
  }
}
