$font-family: 'Montserrat', sans-serif;

$finger-size: 42px;
$font-size: 16px;

$margin-width: 34px;
$fw400: 400;
$fw500: 500;
$fw700: 700;

$color-ebony-clay: #252b42;
$color-bottle-green: #08252b;
$color-sunshade: #ffa62b;
$color-pacific-blue: #00a0c1;
$color-patents-blue: #d9edff;
$color-dove-gray: #737373;
$color-supernova: #f3cd03;
$color-bluemine: #16697a;

// background: $color-navy url(./img/showcase_back.jpg) no-repeat center / cover;
